<h1>Humedales</h1>
<table class="table table-hover table-striped table-bordered">
	<thead class="thead-dark">
		<th>Nombre</th>
		<th>Localidad</th>
		<th>Hectareas</th>
		<th></th>
		<th></th>
	</thead>
	<tbody>
		<tr *ngFor="let humedal of humedals">
			<td>{{humedal.nombre}}</td>
			<td>{{humedal.localidad}}</td>
			<td>{{humedal.hectareas}}</td>
			<td><button class="btn btn-success">Editar</button></td>
			<td><button class="btn btn-danger" (click)="eliminar_Humedal(humedal.id)">Eliminar</button></td>
		</tr>
	</tbody>
</table>