<h1>Crear Cuenta</h1>
<form class="col-4">
	<div class="form-group">
		<label>Nombre</label>
		<input type="text" name="nombre" class="form-control" [(ngModel)]="formulario.user.name">
	</div>
	<div class="form-group">
		<label>Correo Electronico</label>
		<input type="email" name="email" class="form-control" [(ngModel)]="formulario.user.email">
	</div>
	<div class="form-group">
		<label>Contraseña</label>
		<input type="password" name="password" class="form-control" [(ngModel)]="formulario.user.password">
	</div>
	<div class="form-group">
		<label>Confirmar contraseña</label>
		<input type="password" name="password_confirmation" class="form-control" [(ngModel)]="formulario.user.password_confirmation">
	</div>
	<div class="form-group">
		<label>Seleccione el Humedal mas cercano</label>
		<select class="form-control" [(ngModel)]="formulario.user.humedal_id" [ngModelOptions]="{standalone: true}">
			<option [ngValue]="1">Humedal Jaboque</option>
		</select>
	</div>
	<input type="submit" class="btn btn-info" (click)="crear_Cuenta()" value="Crear Cuenta">
</form>
