<h1>Bienvenidos a nuestra pagina web</h1>
<h3>Humedal Jaboque</h3>
<img src="../../assets/humedal jaboque.jpg"><br>
<h5>Que son los humedales</h5>
<p>El término humedal se utiliza para denominar áreas que permanecen en condiciones de inundación o, por lo menos, con su suelo saturado con agua durante largos períodos de tiempo. Si bien en este término se incluyen una amplia variedad de ecosistemas, todos los humedales comparten una propiedad primordial: el agua juega un rol fundamental en la determinación de su estructura y funciones ecológicas. <br>
El agua de los humedales puede provenir del mar, de los ríos, las lluvias o de napas subterráneas. El régimen hidrológico puede ser muy variable en cuanto a la frecuencia e intensidad de la inundación y la permanencia del agua. Los humedales se distinguen también por las características particulares de sus suelos, y por la presencia de plantas y animales adaptados a las condiciones de inundación o de alternancia de períodos de anegamiento y sequía.
</p>
<h5>Importancia de los humedales</h5>
<p>Los humedales son vitales para la supervivencia humana. Son uno de los entornos más productivos del mundo, y son cunas de diversidad biológica y fuentes de agua y productividad primaria de las que innumerables especies vegetales y animales dependen para subsistir. <br>
Los humedales son indispensables por los innumerables beneficios o "servicios ecosistémicos" que brindan a la humanidad, desde suministro de agua dulce, alimentos y materiales de construcción, y biodiversidad, hasta control de crecidas, recarga de aguas subterráneas y mitigación del cambio climático.
</p>
<h3>Humedal Jaboque</h3>
<h6>Historia</h6>
<p>A principios del siglo XX Bogotá se expandía hacía el norte, mientras las áreas entorno al humedal de Jaboque mantenían su condición rural, con cultivos de papa, maíz, hortalizas y frutales, afectados en ocasiones por los desbordamientos del río Bogotá.
Años después, las obras del Aeropuerto y la Avenida Eldorado ejecutadas entre 1948 y 1958, afectaron un brazo del humedal de Jaboque, reduciéndolo, y las obras de drenaje para la construcción de la pista modificaron el flujo hídrico de la zona.
Para 1956 el humedal se hallaba rodeado de fincas agropecuarias, y las pocas viviendas que se encontraban en la zona pertenecía a hacendados y campesinos.
Los primeros desarrollos urbanos se presentaron en los costados de la Avenida Eldorado, lejos del humedal, pues los terrenos aledaños al ecosistema sufrían constantes inundaciones.
</p>
