<div style="background-image: url('../../assets/img_fondo.jpeg');height: 500px; background-size: 100% 100%;">
	<div class="row" style="position: relative; top: 50%; left: 15%;">
		<div class="col-2">
			<button class="btn btn-info" routerLink="/humedales">Humedales</button>
		</div>
		<div class="col-2">
			<button class="btn btn-warning" routerLink="/informacion">Informacion</button>
		</div>
		<div class="col-2">
			<button class="btn btn-primary" routerLink="/iniciar-sesion">Iniciar Sesion</button>
		</div>
		<div class="col-2">
			<button class="btn btn-danger" routerLink="/crear-cuenta">Crear Cuenta</button>
		</div>
	</div>
</div>