<img src="../../assets/img_fondo.jpeg" width="100%" height="100%" style="opacity: 0.5">
<button class="btn btn-secondary" style="position: absolute; bottom: 50%;right: 80%;">Humedales</button>
<button class="btn btn-secondary" style="position: absolute; bottom: 50%;right: 60%;">Informacion</button>
<button class="btn btn-secondary" style="position: absolute; bottom: 50%;right: 40%;">Iniciar Sesion</button>
<button class="btn btn-secondary" style="position: absolute; bottom: 50%;right: 20%;">Crear Cuenta</button>